<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- Latest compiled and minified Bootstrap 3.4.1 CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

  <link rel="stylesheet" href="/css/main.css" />

  <title>Jashanvir Singh's Blog</title>
</head>

<body>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
          data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          {{activeMenu}}
        </button>
        <span class="navbar-brand" href="#">WEB322 - Jashanvir Singh</span>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          {{!-- <li><a href="/blog">Blog</a></li>
          <li class="active"><a href="/about">About</a></li> --}}

          </li> {{#navLink "/about"}}About{{/navLink}}
          </li> {{#navLink "/blog"}}Blog{{/navLink}}
          {{!-- </li> {{#navLink "/about"}}MyAbout{{/navLink}} --}}

        </ul>
        <ul class="WEB322- Jashanvir Singh">
          <ul class="nav navbar-nav navbar-right">
              </li> {{#navLink "/posts"}}Posts{{/navLink}}
              </li> {{#navLink "/categories"}}Categories{{/navLink}}
              </li> {{#navLink "/posts/add"}}AddPost{{/navLink}}

            {{!-- <li><a href="/posts">Posts</a></li>
            <li><a href="/data/categories.json">Categories</a></li>
            <li><a href="/posts/add">Add Post</a></li> --}}
          </ul>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

  {{{body}}}

  <!-- Latest compiled and minified jQuery 3.6.0 JavaScript -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

  <!-- Latest compiled and minified Bootstrap 3.4.1 JavaScript -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
    integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
    crossorigin="anonymous"></script>
</body>

</html>