
    <div class="container" style="padding-top:60px">
      <div class="row">
    
        
        <section class="main col-md-9">
          <article>
          <h2 class="text-warning">About</h2>
          <p>My hghName is Jashanvir Singh. I am a 19 Year old, an international student enrolled in Computer Programming course in Seneca College.</p>
          <p>Currently, I live in Brampton, Ontario. I like to play football and listen to music in my free time. Apart from this, I like to travel</p>
          <p>to different places and admire them. From childhood, I was very curious to learn about how does these programs works so that is the main</p>
          <p>reason that I enrolled in computer programming.</p>
         </article>
        </section>
        <aside class="col-md-3 ">
          <h2 class="text-warning">Comming Soon</h2>
          <p>Stay tuned for future updates...</p>
          <p>Just Wait And Watch</p>
        </aside>
        
      </div>
    </div>

